html {
	font: 13px Arial, sans-serif;
	color: #333;
}
body {
	margin: 0;
}

a {
	text-decoration: none;
	color: #49e;
	outline: none;
	cursor: pointer;
}
a:hover {
	color: #27c;
}
a.active {
	color: #999;
}

h3 {
	margin: 8px 0;
	color: #666;
}

input {
	font: inherit;
	vertical-align: middle;
}

input[type=text] {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 3px;
	padding-right: 22px;
	width: 100%;
	min-height: 2em;
	font: inherit;
	color: #444;
	border: 1px solid #bfbfbf;
	border-radius: 2px;
	outline: none;
}
input[type=text]:focus {
	border-color: rgb(77, 144, 254);
	outline: none;
	transition: border-color 200ms;
}

input[type=checkbox] {
	margin: 0;
	vertical-align: text-bottom;
}

input[type=radio] {
	margin: 0 0 0 4px;
}

.m-button,
input[type=submit] {
	display: inline-block;
	padding: 4px 12px;
	line-height: 1.15;
	color: #444;
	background: #ededed;
	background: linear-gradient(to bottom, #ededed, #ededed 38%, #dedede);
	border: 1px solid rgba(0, 0, 0, .25);
	border-radius: 2px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, .08), inset 0 1px 2px rgba(255, 255, 255, .75);
	text-shadow: 0 1px 0 #f0f0f0;
	cursor: default;
}
.m-button:hover,
input[type=submit]:hover {
	color: black;
	background-image: linear-gradient(to bottom, #f0f0f0, #f0f0f0 38%, #e0e0e0);
	border-color: rgba(0, 0, 0, .3);
	box-shadow: 0 1px 0 rgba(0, 0, 0, .12), inset 0 1px 2px rgba(255, 255, 255, .95);
}
.m-button:active,
input[type=submit]:active {
	background-image: linear-gradient(to bottom, #e7e7e7, #e7e7e7 38%, #d7d7d7);
	box-shadow: none;
	text-shadow: none;
}
.m-button:focus,
input[type=submit]:focus {
	transition: border-color 200ms;
	border-color: rgb(77, 144, 254);
	outline: none;
}
.m-button.disabled,
input[type=submit].disabled {
	color: #aaa;
	background-image: linear-gradient(to bottom, #f1f1f1, #f1f1f1 38%, #e6e6e6);
	border-color: rgba(80, 80, 80, .2);
	box-shadow: 0 1px 0 rgba(80, 80, 80, .08), inset 0 1px 2px rgba(255, 255, 255, .75);
}
input::-moz-focus-inner {
	border: none;
}

.m-down {
	padding-right: 8px;
}
.m-down:after {
	content: '\25BC';
	margin-left: 6px;
	font-size: 0.8em;
	color: #666;
}

.clearInput {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 24px;
	height: 2em;
	line-height: 2.1em;
	margin-left: -24px;
	color: #ccc;
}
.clearInput:before {
	content: '\2716';
}
.clearInput:hover {
	color: #999;
}

.checkboxes {
	margin-bottom: 10px;
}
.checkboxes label {
	overflow: hidden;
	display: block;
	padding: 4px;
}
.checkboxes label:hover {
	background: #fff;
	border-radius: 2px;
}
.checkboxes .controls {
	font-size: smaller;
	margin-bottom: 4px;
}
.checkboxes .actions {
	float: right;
	margin-left: 3px;
	font-size: 0.8em;
	color: #666;
}
.checkboxes .actions a {
	display: inline-block;
	padding: 6px 6px 5px;
	background: #eee;
}
.checkboxes .actions a:hover {
	background: #ddd;
}

.row {
	margin: 8px 0;
	white-space: nowrap;
}
.row.actions {
	margin-top: 12px;
}
.row.b-inline {
	margin-right: -4px;
}
.row.b-inline label,
.row.b-inline input[type=text],
.row.b-inline select {
	display: inline-block;
	vertical-align: middle;
	width: 80px;
}
.row.b-inline label {
	margin-right: 4px;
	width: 76px;
	text-align: right;
}

.pull-right {
	float: right;
}

.b-inline {
	letter-spacing: -0.31em; /* webkit: collapse white-space between units */
	*letter-spacing: normal; /* reset IE < 8 */
	/*word-spacing: -0.43em; /* IE < 8 && gecko: collapse white-space between units */
}
.b-inline > * {
	display: inline-block;
	*display: inline; *zoom: 1; /* IE < 8: fake inline-block */
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
}
