.b-images {
	padding: 2px 12px 12px;
	border-bottom: 3px solid #ddd;
}
.b-images.m-active {
	background: #e6f0f3;
	border-bottom-color: #6cf;
}
.b-images-actions {
	display: none;
	float: right;
	margin: 8px 2px;
	margin-left: -500px;
}
.b-images.m-active .b-images-actions {
	display: block;
}
.b-images-number {
	display: inline-block;
	margin-right: 4px;
	min-width: 28px;
	line-height: 28px;
	text-align: center;
	background: #ddd;
	border-radius: 4px;
}
.b-images-list {
	display: flex;
	flex-flow: row wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}
.b-images-list > li {
	/*flex-grow: 1;*/
	position: relative;
	max-width: 33%;
	margin-right: 3px;
	margin-bottom: 3px;
}
.b-images-list a {
	overflow: hidden;
	position: relative;
	display: block;
	min-width: 25px;
	height: 120px;
	text-align: center;
	background: #ddd;
}
.b-images-list a::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 10px rgba(0,0,0,.5) inset;
}
.b-images-list a::after {
	content: attr(data-galleries);
	display: block;
	position: absolute;
	bottom: -22px;
	left: 0;
	right: 0;
	padding: 5px 8px;
	font-size: 12px;
	text-align: left;
	color: white;
	background: rgba(0,0,0,.5);
	opacity: 0;
}
.b-images-list a:hover::before {
	transition: opacity .5s;
	opacity: 0;
}
.b-images-list a:hover::after {
	transition: bottom 300ms, opacity 700ms;
	transition-delay: 500ms;
	bottom: 0;
	opacity: 1;
}
.b-images-list img {
	width: 100%;
}
.b-images-list a.m-selected {
	background: #36c;
	outline: 3px solid #36c;
}
.b-images-list a.m-selected img {
	opacity: .7;
}
.b-images.m-active .b-images-list a.m-cursor {
	position: relative;
	background: #6cf;
	outline: 5px solid #6cf;
	z-index: 1;
}
.b-images-more {
	flex-grow: 0;
}
.b-images-more a {
	display: inline-block;
	vertical-align: top;
	padding: 50px 0;
	width: 120px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #777;
	background: #ccc;
}
.b-images-more a::after {
	display: none;
}
